@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');
* {
    padding: 0px;
    margin: 0px;
}
header {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    height: 250px;
    box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.274);
}
header h1 {
    font-size: 110px;
    font-family: "Passion One";
    margin: 30px 20px 0px 20px;
}
header h2 {
    font-size: 18px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
}
header a {
    color: white;
    text-decoration: none;
}
header a:hover{
    text-decoration: underline;
}
main > p {
    font-family: "Passion One";
    font-style: normal;
    font-weight: lighter;
    font-size: 40px;
   padding: 10px 10px 0.1em 20px;
   margin-top: 30px;
   
   
}
section {
   width: 100%;
   height: 500px;
    background-color: black;
}
article {
    background-image: url('imagens/background001.jpg');
    width:100%;
    height: 130%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
aside {
    background-color: rgba(0, 0, 0, 0.377);
    
}
aside p {
    color: white;
}
.esp {
    font-family: "Passion One";
    font-style: normal;
    font-weight: lighter;
    font-size: 40px;
   padding: 10px 10px 0.1em 20px;
   margin-top: 30px;
}